:root{
    /* --aaa: #d33; */
}
@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: calc($font-size * 2);
    }

    [data-dpr="3"] & {
        font-size: calc($font-size * 3);
    }
}
@mixin bg_set(){
    background-size:cover;
    background-repeat:no-repeat;
}
@mixin bg_img($name){
    background-image: image-set(url(../images/$(name)-1x.png) 1x,
                                url(../images/$(name)-2x.png) 2x,
                                url(../images/$(name)-3x.png) 3x);
    @include bg_set();
}
.flex{
    display:flex;
}
.ui-col{
    flex:1;
}
.pl18{
    padding-left:18px;
}
.pr18{
    padding-right:18px;
}
.hide{
    display:none;
}
.show{
    display:block;
}
.bgGreen{
    background-color: #339966;
}
.bgGrey{
    background-color: #cccccc;
}
.bgBlack{
    background-color: #000;
}
html,body{
    min-height:100%;
    background-color: #efefef;
}
body,h2,h3,p{
    margin:0;padding:0;
    /*color:var(--aaa);*/
}
button{
    background:none;
    border:none;
}
body,button{
    @include font-dpr(24px); /*px*/
}
#root{
    width:100%;
}
.header{
    color:#fff;
    @include bg_img(bg_head);
    padding:39px 0 40px;
    .title_header{
        padding-bottom:21px;
        /*border: 1px solid #ddd; no*/
        text-align:center;
        @include font-dpr(28px); /*px*/
    }
    .team_header{
        display:flex;
        justify-content: space-between;
        padding:0 76px;
        height:240px;
        text-align:center;
        .vs{
            padding-top:47px;
            text-align:center;
        }
        .lookBank{
            display:block;
            margin-top:38px;
            width: 120px;
	        height: 46px;
	        line-height: 46px;
            background-color: #29a871;
            border-radius: 23px;
            color:#fff;
            text-decoration: underline;
        }
    }
    .teamPhoto{
        margin:15px auto 0;
        width:96px;height:96px;
        border-radius:50%;
        @include bg_set();
    }
    .teamName{
        margin-top:19px;
    }
    .teamScore{
        margin-top:15px;
    }
    .currentTime{
        padding-top:10px;
        text-align:center;
    }
}
  
.tab_main{
    .tab_title{
        line-height:80px;
        display: flex;
        text-align:center;
        background:#fff;
        a{
            display: block;
            color: #999;
        }
        .ui-col{
            position:relative;
            @include font-dpr(28px); /*px*/
        }
        .ui-col:after{
            content:"";
            position:absolute;left:50%;bottom:0;
            transform: translate(-50%,0);
            height: 4px;
            width:0;
            background-color: #29a871;
        }
        .nav-active{
            color:#000;
        }
        .nav-active:after{
            width:100%;
            transition: width 0.2s linear;
        }
    }
    .tab_content{
        .title{
            padding-left:22px;
            line-height:64px;
            color: #999;
        }
        .list{
            line-height:80px;
            background:#fff;
            li{
                border-bottom:solid 1px #efefef;
            }
        }
        .tab_introduce{
            @include font-dpr(28px); /*px*/
            li{
                position:relative;
                padding-left:70px;
            }
            li:after{
                content:"";
                width:24px;height:30px;margin-top:-15px;
                position: absolute;left:24px;top:50%;
                background-position:center center;
                @include bg_set();
                background-size:contain;
            }
            li:first-child:after{
                background-image:url("../images/icon_1.png");
            }
            li:nth-child(2):after{
                background-image:url("../images/icon_2.png");
            }
            li:nth-child(3):after{
                margin-top:-18px;
                background-image:url("../images/icon_3.png");
            }
        }
        .tab_score{
            li{
                display:flex;
                padding:0 53px;
                span{
                    flex:1;
                    text-align:center;
                }
                span:nth-child(2){
                    color:#999;
                }
            }
        }
        .tab_optimal{
            .list{
                padding:5px 40px;
            }
            li{
                padding:13px 0;
                display:flex;
                justify-content:space-between;
                align-items:center;
                border-bottom:none;

                .teamLogo{
                    height:96px;
                    width:96px;
                    border-radius:50%;
                }
            }

            .between{
                display:flex;
                justify-content:space-between;
                align-items:center;
                width:290px;
                div{
                    display:flex;
                    align-items:center;
                    span{
                        padding-left:18px;
                    }
                }
            }
            .middle{

            }
        }
        .tab_diff{
            .diff_cont{
                width:100%;
                overflow:hidden;
                background:#fff;
            }
            .diff_col{
                width:50%;
            }
            .diff_dec{
                text-align:center;
            }
            .diff_list{
                padding-bottom:30px;
            }
            .diff_canvas{
                display:flex;
                justify-content: center;
            }
            .flex_li{
                align-items: center;
                justify-content: space-between;
                padding:18px 50px 0;
                i{
                    margin-right:11px;
                    width: 16px;
                    height: 17px;
                    border-radius:50%;
                }
                .flex_left{
                    align-items: center;
                }
                .alignRight{
                    align-self:flex-end;
                }
            }
        }
    }
    .static_cont{
        padding:0 33px;
        background:#fff;
        flex-direction:column;
        padding-bottom:20px;
        li{
            width:100%;
            padding-top:26px;
        }
        .static_title{
            display:block;
            padding-bottom:8px;
            color: #999;
            text-align:center;
        }
        .static_info{
            @include font-dpr(28px); /*px*/
            justify-content: space-between;
        }
        .static_left,.static_right{
            justify-content: space-between;
            align-items:center;
            width:50%;
            span{
                width:83px;
            }
        }
        .static_left{
            padding-right:5px;
        }
        .static_left .progress_val{
            float: right;
        }
        .static_right .progress_val{
            float: left;
        }
        .static_right span{
            text-align:right;
        }
        .progress{
            /*padding-left:34px;*/
            height: 10px;
            background-color: #efefef;
        }
        .progress_val{
            height: 10px;
            background-color: #29a871;
        }
    }
}
.content_static{
    background:#fff;
}
.table_static{
    overflow: scroll;
    li{
        line-height:64px;
        text-align:center;
        white-space:nowrap;
        span{
            position: relative;
            display: inline-block;
            border-top:solid 1px #cac8c8;
            width:128px;
            border-left:solid 1px #cac8c8;
            i{
                position: absolute; top: 0; right: 0;
                width:62px;height:41px;
                background-image:url("../images/icon4.png");
                @include bg_set();
            }
        }
        span:first-child{
            border-left:none;
        }
    }
    li:first-child span{
        border-top:none;
    } 
}
#canvas_diff{
    height:144px;
}